.diamond_Div{
    background: rgb(255, 250, 251);
    padding: 1rem 0;
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dia_Top{
    text-align: center;

}
.dia_Top h1{
    color: rgb(113, 95, 71);
    font-size: 2.5rem;
    font-weight: 500;
}
.dia_Top h3{
    margin-top: -2.5rem;
    font-size: 1rem;
    font-weight: 400;
}
.dia_Bottom {
    padding: 2rem;
    width: 90%;
    /* background-color: #0e0e2d; deep blue for luxury feel */
  }
  
  .pic_Cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 5px;
  }
  
  .pic_Cont > div {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    transition: all 0.5s;
}
.pic_Cont>div img{
    transition: all 0.5s;

}
.pic_Cont >div:hover img{
    transform: scale(1.05);
    transition: all 0.5s;
  }

  .pic1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    display: block;
    grid-row: span 2;
    grid-column: span 1;
  }
  
  /* Position other images normally */
  .pic2,
  .pic3,
  .pic4,
  .pic5 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    display: block;
  }
  
  .largeCard {
    grid-row: span 2;
  }
  .gold_Div{
    background: rgb(255, 245, 245);
    padding: 1rem 0;
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.silver_Div{
    background: rgb(255, 255, 255);
    padding: 1rem 0;
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.biscuit {
    /* width: 90%; */
    /* padding: 0 1rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fffcfc;
    flex-direction: column;
}

.bis_Wrap{
    width: 90%;
    padding:0 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: ; */
    /* flex-direction: column; */
}
.bis_Wrap div{
    width: 40%;
    border-radius: 25px;
    padding: 0;
    /* background: #000; */
}
.bis_Wrap div img{
    width: 100%;
    /* border-radius: 25px; */
}
.biscuit_head{
    color: rgb(113, 95, 71);
    font-size: 2.5rem;
    font-weight: 500;
}