.gallery {
    width: 100%;
    padding: 2rem;
}

.gallery button {
    padding: 0.5rem 1.5rem;
    background-color: #3A2E2E;
    color: white;
    border: none;
    border-radius: 2rem;
    font-size: 0.8rem;
    cursor: pointer;
}

.gallery .openCamera{
    display: flex;
    justify-content: space-between;
}

.gallery .carousel {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    gap: 1.2rem;
    flex-wrap: wrap;
}

.diamand {
    margin-top: 1rem;
    width: 100%;
    flex-wrap: wrap;
    gap: 2rem;
}

.gallery .diamand{
    width: 100%;
}

.gallery .heading {
    font-size: 2rem;
    padding-left: 1.4rem;
    margin-top: 2rem;
}

.Img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 1rem;
    border-radius: 3rem;
}

.Img img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 2rem;
}

.ImgPreview{
    width: 25vw;
    display: flex;
    gap: 8px;
    justify-content: center;
}

.Img input {
    display: flex;
    border-radius: 4px;
    border: 1px solid gray;
}

.Img button{
    margin: 0;
}

/* .openCamera button {
    margin: 0;
} */

/* Apply same styling to diamond section images */

/* .gallery .diamand .Img {
    width: 100%;
     margin-bottom: 8px;
    background-color: #f5d3d34d; 
    overflow: hidden;
    padding: 1rem;
    border-radius: 3rem;
}

.gallery .diamand .Img img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 2rem;
}

.custom-file-upload1 input[type="file"] {
    display: none;
    color: white;;
}

.gallery .openCamera{
    display: flex;
    justify-content: space-between;
    margin-top: 0.8rem;
} */


/* ====== Responsive Design ====== */

/* Tablet view (up to 1024px) */

@media screen and (max-width: 1024px) {

}

/* Mobile view (up to 768px) */

@media screen and (max-width: 768px) {

}

/* Small mobile view (up to 480px) */

@media screen and (max-width: 480px) {
.gallery {
    padding: 0.8rem;
}
.gallery .diamand {
    flex-wrap: wrap;
    display: flex;
    gap: 1.5rem;
}
.Img{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.heading{
    display: flex;
    justify-content: center;

}

}
