.about_Container {
  background: linear-gradient(
    120deg,
    rgba(255, 182, 193, 0.35) 20%,
    transparent 100%
  );
  width: 100%;
  height: 100vh;
  padding: 3rem 2rem;
  position: relative;
  box-shadow: 0 -30px 40px 20px rgba(255, 182, 193, 0.2),
    0 30px 40px 20px rgba(255, 182, 193, 0.2);
}

.about {
  text-align: center;
  font-weight: 500;
  font-size: 3rem;
}

.bottom_Container {
  padding: 0rem 8rem;
}
.bottom_Container p {
  width: 60%;
  font-size: 1.8rem;
  text-align: justify;
  font-weight: 600; 
  color: rgba(108, 108, 108, 1);
}

.Counting {
  display: flex;
  border-radius: 25px;
  border: 1px solid rgb(201, 197, 197);
  width: 35%;
  justify-content: space-evenly;
  align-items: center;
}

.happy_Customers {
  padding: 0.1rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -2rem;
  align-items: start;
}
.num {
  font-size: 3rem;
  font-weight: 500;
}

.text {
  font-size: 1rem;
  font-weight: 500;
  margin-top: -3rem;
}

@media (max-width : 1400px) {
  .bottom_Container p{
    max-width: 90%;
    width: auto;
  }
}
@media (max-width: 1024px) {
  .about_Container {
    padding: 2rem 1rem;
    height: auto;
  }
  .about {
    font-size: 3rem;
  }
  .bottom_Container {
    margin-top: 50%;
    padding: 0rem 2rem;
  }
  .bottom_Container p {
    width: 100%;
    font-size: 1.8rem;
  }
  .Counting {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
  }
  .num {
    font-size: 2.5rem;
  }
  .text {
    font-size: 1.2rem;
    margin-top: -2rem;
  }
}

@media (max-width: 800px) {
  .about_Container {
    padding: 2rem 1rem;
  }
  .about {
    font-size: 3rem;
  }
  .bottom_Container {
    /* background: red; */
    margin-top: 50%;
    padding: 0rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bottom_Container p {
    width: 100%; 
    font-size: 1.8rem;
  }
  .Counting {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
  }
  .num {
    font-size: 2.5rem;
  }
  .text {
    font-size: 1.2rem;
    margin-top: -2rem;
  }
}

@media (max-width: 468px) {
  .about_Container {
    padding: 1.2rem 0.5rem;
  }
  .about {
    font-size: 1.4rem;
  }
  .bottom_Container {
    padding: 0rem 0.2rem;
    margin-top: 45%;
  }
  .bottom_Container p {
    width: 100%;
    font-size: 1rem;
  }
  .Counting {
    width: 95%;
    gap: 0.7rem;
    padding: 0.7rem 0.2rem;
    font-size: 0.95rem;
  }
  .happy_Customers {
    margin-top: -1rem;
    align-items: flex-start;
  }
  .num {
    font-size: 1.3rem;
  }
  .text {
    font-size: 0.8rem;
    margin-top: -1.2rem;
  }
}

@media (max-width: 390px) {
  .about_Container {
    padding: 1.2rem 0.5rem;
  }
  .about {
    font-size: 1.4rem;
  }
  .bottom_Container {
    padding: 0rem 0.2rem;
  }
  .bottom_Container p {
    width: 100%;
    font-size: 1rem;
  }
  .Counting {
    width: 95%;
    gap: 0.7rem;
    padding: 0.7rem 0.2rem;
    font-size: 0.95rem;
  }
  .happy_Customers {
    margin-top: -1rem;
    align-items: flex-start;
  }
  .num {
    font-size: 1.3rem;
  }
  .text {
    font-size: 0.8rem;
    margin-top: -1.2rem;
  }
}
