.Canvas_box {
  width: 100%;
  height: 100vh;
}

/* @media (max-width: 768px) {
  .Canvas_box {
    height: 60vh;
  }
} */

@media (max-width: 490px) {
  .Canvas_box {
    height: 90vh;
  }
}

@media (max-width: 360px) {
  .Canvas_box {
    height: 35vh;
  }
}