.outer_ServiceBox {
  width: 100%;
  margin-top: 4rem;
  padding: 0rem 5rem;
  height: 30vh;
  margin-bottom: 8rem;
}
.outer_ServiceBox h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
}

.Cont_serve {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main {
  background: rgba(255, 246, 246, 0.67);
  width: 30vh; 
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  height: 20vh;
  border-radius: 25px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
  /* Only one transition property should be set, and it should target the properties you want to animate */
  transition: box-shadow 1s ease, transform 1s ease;
}

.main:hover {
  box-shadow: 0px 3px 20px 0px rgba(255,255,255,1) inset, 0px 3px 10px 0px rgba(195, 66, 66, 0.5);
  transform: scale(1.08);
}
.main h2 {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 400;
}

@media (max-width: 1024px) {
  .outer_ServiceBox {
    padding: 0rem 2rem;
    height: auto;
    margin-top: 0rem;
    margin-bottom: 8rem;
  }
  .outer_ServiceBox h1 {
    font-size: 2.6rem;
  }
  .Cont_serve {
    flex-direction: column;
    gap: 2.5rem;
  }
  .main {
    width: 80vw;
    height: auto;
  }
  .main h2 {
    font-size: 1.7rem;
  }
}
@media (max-width: 768px) {
  .outer_ServiceBox {
    padding: 0rem 2rem;
    height: auto;
    margin-top: 0rem;
    margin-bottom: 2rem;
  }
  .outer_ServiceBox h1 {
    font-size: 2.2rem;
  }
  .Cont_serve {
    flex-direction: column;
    gap: 1.5rem;
  }
  .main {
    width: 80vw;
    height: auto;
    min-height: 14vh;
  }
  .main h2 {
    font-size: 1.6rem;
  }
}

@media (max-width: 480px) {
  .outer_ServiceBox {
    padding: 0rem 0.5rem;
    /* margin-top: -3rem; */
    /* margin-bottom: 5rem; */
  }
  .outer_ServiceBox h1 {
    font-size: 1.4rem;
  }
  .main {
    width: 80vw;
    max-width: 98vw;
    padding: 0.7rem;
    min-height: 10vh;
    border-radius: 15px;
  }
  .Cont_serve {
    margin-top: 2rem;
  }
  .main h2 {
    font-size: 1rem;
    font-weight: 600;
  }
}
@media (max-width: 390px) {
  .outer_ServiceBox {
    padding: 0rem 0.5rem;
    /* margin-top: -2rem; */
    /* margin-bottom: 4rem; */
  }
  .outer_ServiceBox h1 {
    font-size: 1.4rem;
  }
  .main {
    width: 80vw;
    max-width: 98vw;
    padding: 0.7rem;
    min-height: 10vh;
    border-radius: 15px;
  }
  .Cont_serve {
    margin-top: 2rem;
  }
  .main h2 {
    font-size: 0.8rem;
    font-weight: 600;
  }
}
